<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed</title>
    <link rel="stylesheet" href="CSS Files/completed-styles.css">
</head>
<body>
    <div class="completed_main">
        <h1>Your Summary Was Successfully Generated!</h1>
        <div class="completed_sum">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Impedit itaque cupiditate sunt nulla hic, 
                voluptatem dolorum quia commodi a odio sit accusamus error 
                obcaecati aperiam, magnam repellat iste beatae. 
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Accusamus corrupti amet aliquid laboriosam eligendi 
                asperiores natus atque labore consectetur, 
                tempore error repellendus sed maxime nisi distinctio rerum quibusdam! 
                Architecto, ut.</p>
        </div>
    </div>
</body>