<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="../static/CSS Files/file_upload-styles.css">
</head>
<body>
    <div class="file_main">
        <h1>File Upload</h1>
        <div class = "file_upload_section">
            <div class="upload" id="uploadArea">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" class="upload-icon">
                    <path d="M12 16v-8m0 0l-4 4m4-4l4 4M4 16v1a2 2 0 002 2h12a2 2 0 002-2v-1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h2>Upload Files</h2>
            </div>
            <form action="/upload" method="post" enctype="multipart/form-data" class="upload-form">
                <input type="file" name="file" id="fileInput" accept=".pdf" style="display: none;" multiple>
                <button type="submit" class="start_sum">Upload and Summarize</button>
            </form>
            <div class="progress-container" id="progressContainer"></div>
            <div class="line"></div>
            <h2>Files to Summerize:</h2>
            <ul id="fileList"></ul>
        </div>
    </div>
</body>
<script src="../static/Javascript Files/file_upload-script.js"></script>