<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSPL</title>
    <link rel="stylesheet" href="../static/CSS Files/main-styles.css">
</head>
<body>
    <div class="main_body">
        <h1>Summarization of a Stack of Papers using LLMs (SSPL)</h1>
        <p>Summerize your documents in a few minutes</p>
        <div class = "Options">
            <a href="file_upload.html"><button>Generate Summary</button></a>
            <a href="my_summaries.html"><button>View Previous Summaries</button></a>
        </div>
    </div>

</body>